body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    position: relative;;
}

/* Global */


/* Header */
header{
    background-image: url(../img/background.png);
    height: 600px;
    background-size: 100%;
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
}

header #nav li{
    float: left;
    display: inline;
    padding: 0 25px 0 25px ;
    margin-top: 32px;
    color: white;

}

header #nav a{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-decoration: none;
}

header #branding{
    float: left;
}

header #branding .highlight{
    color: #e8491d;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
    margin-left: 30px;
}   

header #login{
    background: none;
    border: white 1px solid;
    padding: 10px 20px 10px 20px ;
    color: #ffffff;
    border-style: ridge;
    box-sizing: inherit;
    float: right;
    margin-right: 200px;
    margin-top: 32px;
}

header img{
    float: right;
    margin-right: -145px;
    margin-top: 37px;
 }

header #english{
    float: left;
    margin-top: -50px;
    margin-left: 90%;
}
header #cont2{
    align-items: center;
}

header #cont2 p{
    text-align: center;
    font-size: 50px ;
    margin-top: 200px;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: normal;
    font-weight: normal;
    letter-spacing: normal;
}

header #cont2 p span{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

header #cont2 #p2{
    font-size: 25px;
    margin-top: -30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    letter-spacing: 2px;
    font-weight: bolder;
}

header #cont2 .button_1{
    background-color: rgb(170, 31, 13);
    border: white 1px solid;
    padding: 15px 50px 15px 50px ;
    color: #ffffff;
    border-style: ridge;
    box-sizing: content-box;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 570px;
    margin-top: 30px;
}


/* themes */
#themes{
    text-align: center;
    margin: 90px 50px 80px 50px;
    background-color: #ffffff;
}

#themes h2{
    font-size: 30px;
    color:dimgray;
    text-decoration: underline 4px #e8491d solid;
    letter-spacing: 2.5px;
}

#themes p{
    margin-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
    color: dimgrey;
}

/* wss */
#wss{
    background-color: rgba(245, 241, 241, 0.918);
    padding-bottom: 150px;
}

#wss h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: rgb(71, 70, 70);
    padding-bottom: 10px;
    text-decoration: underline #e8491d 4px solid;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 100px;
    padding-top: 40px;
}
.container3{
   display: flex;
   width: 90%;
   overflow: hidden;
   position: relative;

}

.container3 #wss1{
    width: 40%;
    margin-left: 50px;
    margin-top: 45px;
    margin-right: 25px;
}

.container3 #wss2{
    width: 30%;
    margin: auto;
    margin-top: -60px;
    padding-right: -10px;
    margin-left: 300px;
    position: relative;
}

.container3 #wss2 p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: left;
    color: dimgray;
}

.container3 .button_1{
    background-color: rgb(170, 31, 13);
    border: white 1px solid;
    padding: 15px 40px 15px 40px ;
    color: #ffffff;
    border-style: ridge;
    box-sizing: content-box;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 0;
    margin-top: 30px;
}

/* mobile responsive */
.container4{
    display: flex;
    background-color: #ffffff;
    width: 100%;
    position: relative;
    margin-bottom: 100px;
}
.container4 #mobile1{
   width: 40%;
   margin-top: 70px;
   margin-left: 70px;
   margin-right: 50px;
   padding-right: 30px;
}

.container4 #mobile1 h2{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    padding-top: -10px;
    font-weight: 5;
    margin-left: 100px;
    line-height: 10px;
    color: dimgrey;
    letter-spacing: 2px;
}

.container4 #mobile1 h2 span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding-top: -10px;
    padding-bottom: -10px;
    font-weight: bolder;
    color: rgb(78, 76, 76);
    word-spacing: 1.5px;
}

#mobile1 p{
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 100px;
    font-weight: normal;
    font-size: 17px;
    color: dimgrey;
}

.container4 #mobile1 #button_2{
    background-color: rgb(170, 31, 13);
    border: white 1px solid;
    padding: 15px 25px 15px 25px ;
    color: #ffffff;
    border-style: ridge;
    box-sizing: content-box;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    margin-left: 250px;
}

#mobile1 p span{
    font-weight: bolder;
    color: black;
}
.container4 #mobile2 img{
   width: 85%;
   position: relative;
   padding-top: 180px;
   padding-left: 25px;
   margin-left: 40px;
}

/* Features */
#features{
    padding: 50px 100px 50px 100px;
    background-color: rgba(245, 241, 241, 0.918);
}
#features h1{
    text-align: center;
    color: dimgrey;
    font-size: 35px;
    font-weight: bolder;
    text-decoration: underline solid #e8491d 4px ;
    padding-bottom: 0;
}

#features h4{
    text-align: center;
    color: dimgrey;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: lighter;
}

.container5{
    display: flex;
    text-align: center;
    width: 100%;
    position: relative;
}

.container5 .box{
    width: 25%;
    padding: 20px 20px 20px 20px;
    margin: 0 5px 0 5px;
}
.container5 .box h3{
    text-align: center;
    font-size: 25px;
    margin: 5px 0 0 0;
    color: dimgray;
    font-weight: 600;
}
.container5 .box p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    margin: 5px;
    color: dimgrey;
    font-weight: lighter;
}

.container5 .box img{
    width: 93.55px;
    height: 65px;
}

#features #button_3{
    background-color: rgb(170, 31, 13);
    border: white 1px solid;
    padding: 15px 40px 15px 40px ;
    color: #ffffff;
    border-style: ridge;
    box-sizing: content-box;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 470px;
    margin-top: 10px;
    margin-bottom: 100px;
}

/* footer */
footer{
    display: flex;
    background-color: rgb(58, 55, 55);
    color: white;
    padding: 10px 200px 0 200px;
    text-align: left;
    width: 90%;
    padding-bottom: 70px;
}

footer .footer{
    width: 20%;
    margin-right: 20px;
    padding-left: 0;
    padding-right: 20px;
}

footer .footer h3{
    font-size: 20px;
    word-spacing: 2px;
    letter-spacing: 2px;
    text-decoration: underline 3px #e8491d solid;
}

footer .footer li{
    list-style-type: none;
    margin-left: -35px;
    line-height: 20px;
    padding-top: 20px;
    font-size: 16px;
}

footer .footer img{
    margin-right: 20px;
}